<!DOCTYPE html>

<head>
  <%= stylesheet_link_tag '/assets/application.css',media:'all','data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if false %>
  <%=javascript_pack_tag'application','data-turbolinks-track':'reload'%>
  <% end %>
  <title>WebCampBackendNew</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style type="text/css">
  .turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
  }</style>

  <body>
    <%= yield %>
  </body>
</html>
